<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>The Game</title>
</head>
<body>
  <div id="app">
   <template>
  <v-app id="inspire">
    <v-app-bar
      app
      color="white"
      flat
    >
     WRH - The Game



    </v-app-bar>

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col
            cols="12"
            sm="2"
          >
<!--            <v-sheet-->
<!--              rounded="lg"-->
<!--              min-height="268"-->
<!--            >-->
<!--              &lt;!&ndash;  &ndash;&gt;-->
<!--            </v-sheet>-->
          </v-col>

          <v-col
            cols="12"
            sm="8"
          >
            <v-sheet
              min-height="70vh"
              rounded="lg"
            >
              <!--  -->
                <h3 class="ml-2">Release</h3>
                <v-data-table :headers="headers" :items="items">
                    <template v-slot:item.link="{item}">
                        <a :href="item.link">${item.name}</a>
                    </template>
                </v-data-table>
            </v-sheet>
          </v-col>

          <v-col
            cols="12"
            sm="2"
          >
<!--            <v-sheet-->
<!--              rounded="lg"-->
<!--              min-height="268"-->
<!--            >-->
<!--              &lt;!&ndash;  &ndash;&gt;-->
<!--            </v-sheet>-->
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    delimiters: ['${', '}'],
      data(){
      return {
          headers: [
                {text: 'Name', 'value': 'name'},
                {text: 'link', 'value': 'link'},
                                {text: 'Version', 'value': 'version'}

          ],
          items: [
          {name: 'WRH - The Game.dmg - Mac', link: '/media/WRH - The Game.dmg', 'version': 'v1.0.0'}
          ]
      }},
    })
  </script>
</body>
</html>